{% extends 'base.html' %} {% load static %} {% block body %}
<style>
  .sign-up-form {
    width: 800px;
    border: 5px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: auto;
    text-align: center;
  }

  .b1 {
    background: black url("../static/images/c2.jpg") no-repeat center
      center/cover;
    height: 40vh;
    color: #186896;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
  }
</style>
{% ifequal error "no" %}
<script>
  alert('Signup Successfull');
  window.location = ('{% url 'loginpage' %}');
</script>
{% endifequal %} {% ifequal error "yes" %}
<script>
  alert("Something went wrong, Try Again");
</script>
{% endifequal %}
<h1 class="b1">sign up as company</h1>
<div class="sign-up-form">
  <form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="Fullname">Full name</label>
      <input
        name="firstname"
        class="form-control"
        id="inputFullName"
        aria-describedby="emailHelp"
        placeholder="Enter full name"
      />
    </div>
    <div class="form-group">
      <label for="InputEmail">Email address</label>
      <input
        name="emailid"
        class="form-control"
        id="InputEmail"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="InputPassword">Enter contact</label>
      <input
        type="number"
        name="contact"
        class="form-control"
        id="InputPassword"
        placeholder="contact"
      />
    </div>

    <div class="form-group">
      <label for="InputPassword2">Enter Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="InputPassword2"
        placeholder="Repeat Password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% comment %}
<section class="signup" id="signup">
  <div class="container">
    <h1 class="heading">Company Signup Form</h1>
    <div class="row">
      <form method="post">
        {% csrf_token %}

        <input
          type="text"
          placeholder="Enter Name"
          class="box"
          name="firstname"
          required
        />

        <input
          type="number"
          placeholder="Enter Contact Number"
          class="box"
          name="contact"
          required
        />

        <input
          type="email"
          placeholder="Enter Email Address"
          class="box"
          name="emailid"
          required
        />

        <input
          type="password"
          placeholder="Password"
          class="box"
          name="password"
          required
        />

        <hr />
        <input type="submit" class="btn btn-primary mt-2" value="SUBMIT" />
      </form>
    </div>
  </div>
</section>
{% endcomment %} {% endblock body %} {% block footer%} {% endblock footer%}
